{{#unless items}}
<h3 class="text-center">
    {{#if keyword}}
    0 Items Found for "{{keyword}}"
    {{else}}
    <h3 class="text-center">Nothing here...</h3>
    {{/if}}
</h3>
{{else}}
<div class="row py-2 d-flex justify-content-end">
    <div class="dropdown show">
        <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sort
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {{#if keyword}}
            <a class="dropdown-item" href="/search?keyword={{keyword}}&cat={{catn}}">Best Match</a>
            <a class="dropdown-item" href="/search?keyword={{keyword}}&cat={{catn}}&sort=1">Most Bids</a>
            <a class="dropdown-item" href="/search?keyword={{keyword}}&cat={{catn}}&sort=2">Expired Soon</a>
            <a class="dropdown-item" href="/search?keyword={{keyword}}&cat={{catn}}&sort=3">Price Low</a>
            <a class="dropdown-item" href="/search?keyword={{keyword}}&cat={{catn}}&sort=4">Price High</a>
            {{else}}
            <a class="dropdown-item" href="/cat/{{catn}}/{{subn}}">Best Match</a>
            <a class="dropdown-item" href="/cat/{{catn}}/{{subn}}?sort=1">Most Bids</a>
            <a class="dropdown-item" href="/cat/{{catn}}/{{subn}}?sort=2">Expired Soon</a>
            <a class="dropdown-item" href="/cat/{{catn}}/{{subn}}?sort=3">Price Low</a>
            <a class="dropdown-item" href="/cat/{{catn}}/{{subn}}?sort=4">Price High</a>
            {{/if}}
        </div>
    </div>
</div>

<div class="row py-2 d-flex justify-content-center">
    {{#items}}
    <div class="col-4 p-3">
        <a href="/pro/{{id}}" style="text-decoration: none;">
            <div class="card mb-3 sd h-100 text-dark">
                <script src="/javascripts/script.js"></script>
                <script>newitem('{{start}}', 10);</script>
                <img class=" card-img-top" src="/images/sp/{{id}}/1.jpg" alt="Card image cap" height="200">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    {{#if cost2}}
                    <p class="card-text">Max bid: {{cost2}} VND</p>
                    {{/if}}
                    {{#if n}}
                    <p class="card-text">Holder: **** {{bname}}</p>
                    {{/if}}
                </div>
                <div class="card-footer">
                    <p class="card-text text-secondary">Starts {{time start 'Do MMM YYYY'}}</p>
                    <p id="t{{id}}" class="card-text text-danger font-weight-bold">
                        <script src="/javascripts/script.js"></script>
                        <script>dayleft('t{{id}}', '{{end}}');</script>
                    </p>
                    {{#if n}}
                    <p class="card-text font-weight-bold">{{price}} VND
                        <span class="font-weight-light text-secondary">{{n}} bids</span>
                    </p>
                    {{else}}
                    <p class="card-text font-weight-bold">{{cost}} VND</p>
                    {{/if}}
                </div>
            </div>
        </a>
        {{#if wl}}
        <button id="ib{{id}}" onclick="rm(this, {{id}})" class="btn btn-danger float-right"
            style="position: absolute; right: 20px; bottom: 20px;">remove</button>
        {{else}}
        <button id="ib{{id}}" onclick="add(this, {{id}})" class="btn btn-success float-right"
            style="position: absolute; right: 20px; bottom: 20px;">add</button>
        {{/if}}
    </div>
    {{/items}}
</div>

<div class="row py-2 d-flex justify-content-center">
    <nav>
        <ul class="pagination">
            {{#if navs.prev}}
            <li class="page-item">
                <a class="page-link" href="?page={{navs.prev}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{/if}}

            {{#pages}}
            {{#if active}}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="javascript:;">
                    {{value}} <span class="sr-only">(current)</span>
                </a>
            </li>
            {{else}}
            <li class="page-item">
                <a class="page-link" href="?page={{value}}">
                    {{value}}
                </a>
            </li>
            {{/if}}
            {{/pages}}

            {{#if navs.next}}
            <li class="page-item">
                <a class="page-link" href="?page={{navs.next}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
{{/unless}}